#ui-datepicker-div {font-size: 80%;}

#eventDescription_container .mceLayout {
    border: 1px solid #505050;
}

#announceContent_container .mceLayout {
    border: 1px solid #505050;
}

#messageDescription_container .mceLayout {
    border: 1px solid #505050;
}

.errorMessage {
    font-size: 120%;
    text-align: center;
    width: 80%;
    color: red;
}

#left li {
    margin-top: 10px;
    font-size: 120%;
}

.otag {
    padding : 2px;
    float : left;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    border: #AF1515 2px dashed;
    background-color: #FF9E9E;
}

#body-content {
    float: left;
    width: 75%;
    margin-bottom: 50px;
}


.inLineTable {
    width: 100%;
    /*border-collapse:collapse;*/
}
.inLineTable tr{
    background-color: #F0FFF0;
    border: 5px solid #FEFFFE;
}

#body-content h3 {
    /*text-align: left;*/
    /*border-bottom: 1px solid #505050;*/
    font-size: 130%;
    margin: 25px 0 20px 0;
}


.inLineTable td,th {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    /*border: 20px solid transparent;
    border-spacing: 20px;*/
}

.inLineTable .tableButton {
    text-align: right;
}

#menu {
    float:left;
    width: 70%;
}

#logout {
    float: right;
    margin: 20px;
}



#left ul {
    margin-bottom: 20px;
}

.button {
    border: 1px solid gray;
    background-color: #505050;
    color: #DDDDDD;
    padding: 2px 6px 2px 6px;
}

.select{
    color: #505050; 
    padding: 2px 6px 2px 6px;
}

label {
    font-size: 110%;
}

.button:hover {
    background-color: #555555;
}

input[type=text], input[type=password], textarea {
    border: 1px solid #808080;
} 
#CreateEvent {margin-left: 50px; width: 80%;}
#CreateEvent label {width:100px; display:block;	float:left;}
#CreateEvent #eventName {width: 100%;}
#CreateEvent #eventDescription { width: 100%;}
#CreateEvent #eventDate {width: 25%; color: black; margin-right: 8px;}
#CreateEvent input[type=submit] {float: right;}

#CreateAnnounce {margin-left: 50px; width: 80%;}
#CreateAnnounce label {width:100px; display:block;	float:left;}
#CreateAnnounce #announceTitle {width: 100%;}
#CreateAnnounce #announceContent { width: 100%;}
#CreateAnnounce #announceExpiryDate {width: 25%; color: black; margin-right: 8px;}
#CreateAnnounce input[type=submit] {float: right;}

#SearchEvent, #SearchAnnounce {margin-left: 190px;}
#SearchEvent .button, #SearchAnnounce .button {margin-left: 15px;}

#SearchHub {margin-left: 190px;}

#EventList {width: 100%;}
#EventList .header td {width: 20%;}
#EventList .header th {color: #505050; font-size: 120%;background: url(../images/bg-message.png) repeat-x;}
#EventList .content .left {background-color: #e9f5fd; width: 20%;}
#EventList .content .right {padding: 15px;}
#EventList .gap td {border-top: 1px solid #BBB;}
#EventList .gap {height: 15px;}

#DisplayEvent, #DisplayAnnounce {width: 100%}

#ModifyProfile {margin-left: 120px;width: 60%;}
#ModifyProfile td:first-child {width: 35%;}
#ModifyProfile input[type="text"], 
#ModifyProfile input[type="password"],
#ModifyProfile  textarea {width: 100%;}
#ModifyProfile input[type=submit] {float: right;}
#ModifyProfile #dateOfBirth {width: 90%;margin-right: 6px; color: black;}

#MemberList {width: 100%;}
#MemberList td {width: 30%;}

#ConfigureMail .button {float: right;}

input[type="text"][class="error"], textarea[class="error"] {
    border: 1px solid #AF1515;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.authorDate {
    font-style: italic;
    font-weight: bold;
    color : #656565;
    background-color: #F2F2F2;
}

.mceTextArea{
    width: 100%;
    height: 300px;
}

.topicTable {
    background-color: #E8F5FD;
    border: 1px solid #8bcef8;
    width: 100%;
    margin-bottom: 5px;
}
.topicHeader {
    background-color: #C7E5F8;
    height: 30px;
    border-collapse: collapse;
}

.topicOwner {
    width: 20%;
    text-align: center;
}

.topicMessage{
    background-color: #E8F5FD;
    border-left: 1px solid #8bcef8;
    vertical-align: text-top;
    padding: 5px
}

.topicButton{
    float: right;
    margin-bottom: 10px;
}

.background {
    background-image: none;
}

#menu li a:hover, #menu li a.current {
    background: url(../images/menu2.gif) no-repeat center bottom;
}

/*interaction display*/
.interactionDisplay {
    float: left;
    width: 68%;
    background-color: #ecf8ff;
    padding: 3px;
    margin-right: 10px;
}

.interactionDisplay img {
    max-width: 100%;
}

#mapCanvas {
	height: 250px;
	width:  100%;
}

#geolocalisation {
	width: 193px;
    text-align: left;
    float: right;
    padding: 3px;
    visibility: hidden;
}

.tag {
    padding : 2px;
    float : left;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    border: #c1ffbb 2px dashed;
    background-color: #e9ffe7;
	height: 25px;
}
.tag a {
    color: green;
    text-decoration: underline;
}
.tag img{
    vertical-align: middle;
}

.fieldsetAdmin {
    float: left;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 26px 10px 10px 10px;
    padding: 8px;
    background-color : white;
    width: 100%;
}

.legendAdmin {
    text-align: left;
    background: -webkit-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
    border-radius: 5px;
    box-shadow: 1px 2px 9px #000;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    margin: -22px 0px 0px 30px;
}

.fieldsetTableAdmin{
	width: 100%;
    margin-top: 27px;
    background-color : #F0FFF0;
}
