#ui-datepicker-div {
	font-size: 80%;
}

.errorMessage {
	font-size: 120%;
	text-align: center;
	width: 80%;
	color: red;
}

.otag {
	padding: 2px;
	float: left;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 5px;
	border: #AF1515 2px dashed;
	background-color: #FF9E9E;
}

#body-content {
	float: left;
	width: 75%;
	margin-bottom: 50px;
}

.inLineTable {
	width: 100%;
}

.inLineTable tr {
	background-color: #F0FFF0;
	border: 5px solid #FEFFFE;
}

.inLineTable td,th {
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.inLineTable .tableButton {
	text-align: right;
}

#body-content h3 { /*text-align: left;*/
	/*border-bottom: 1px solid #505050;*/
	font-size: 130%;
	margin: 25px 0 20px 0;
}

#menu {
	float: left;
}

#logout {
	float: right;
	margin: 20px;
}

#left ul {
	margin-bottom: 20px;
}

#left li {
	margin-top: 10px;
	font-size: 120%;
}

.button {
	border: 1px solid gray;
	background-color: #505050;
	color: #DDDDDD;
	padding: 2px 6px 2px 6px;
	cursor: pointer;
}

.select {
	color: #505050;
	padding: 2px 6px 2px 6px;
}

label {
	font-size: 110%;
}

.button:hover {
	background-color: #555555;
}

input[type=text],input[type=password],textarea {
	border: 1px solid #808080;
}

input[type="text"][class="error"],textarea[class="error"] {
	border: 1px solid #AF1515;
}

.alignRight {
	text-align: right;
}

.alignCenter {
	text-align: center;
}

.authorDate {
	font-style: italic;
	font-weight: bold;
	color: #656565;
	background-color: #F2F2F2;
}

.background {
	background-image: none;
}

.tag {
	padding: 2px;
	float: left;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 5px;
	border: #c1ffbb 2px dashed;
	background-color: #e9ffe7;
	height: 25px;
}

.tag a {
	color: green;
	text-decoration: underline;
}

.tag img {
	vertical-align: middle;
}

.fieldsetAdmin {
	float: left;
	border: 1px solid #FFF;
	border-radius: 5px;
	box-shadow: 3px 3px 12px #000;
	margin: 26px 10px 10px 10px;
	padding: 8px;
	background-color: white;
	width: 100%;
}

.legendAdmin {
	text-align: left;
	background: -webkit-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat
		scroll 0 0 transparent;
	background: -moz-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll
		0 0 transparent;
	border-radius: 5px;
	box-shadow: 1px 2px 9px #000;
	padding-right: 1em;
	padding-left: 1em;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	margin: -22px 0px 0px 30px;
}

.fieldsetTableAdmin {
	margin-top: 15px;
	background-color: #F0FFF0;
}

thead,thead th {
	background-color: #EEF8ED;
}