#left li {
	margin-top: 10px;
	font-size: 120%;
}

#body-content {
	float: left;
	width: 590px;
	margin-bottom: 50px;
}
#body-content h3 {
	text-align: center;
	font-size: 125%;
	margin: 15px 0 10px 0;	
}

#menu {
	float:left;
	width: 70%;	
}

#logout {
	float: right;	
	margin: 10px;
}

#logout a {
	background-color: #EEEEEE;
	color: #505050; 
}

#left ul {
	margin-bottom: 20px;
}

.button {
	border: 1px solid grey;
	background-color: #505050;
	color: #DDDDDD;
	padding: 2px 6px 2px 6px;
}

label {
	font-size: 110%;	
}

.button:hover {
	color: #DDDDDD;
}

input[type=text], input[type=password], textarea {
	border: 1px solid #808080;	
} 
#CreateEvent {margin-left: 50px; width: 100%;}
#CreateEvent label {width:100px; display:block;	float:left;}
#CreateEvent #eventName {width: 100%;}
#CreateEvent #eventDescription { width: 100%;}
#CreateEvent #eventDate {width: 30%;}
#CreateEvent input[type=submit] {float: right;}

#SearchEvent {margin-left: 190px;}
#SearchEvent .button {margin-left: 15px;}

#login {
	background: #505050 url(../images/footer.gif) no-repeat;
	width: 90%;
	height: 150px;
	float:left;
	margin-left: 5%;
	border: 3px solid grey;
}

#login label {
	color: white;
	font-weight: bold;	
}
#login input {
	height: 20px;	
	width: 100%;
	border-color: #DDDDDD;
	background-color: #CCCCCC;
}
#login table {
	margin-top: 20px;
	margin-left: 260px;	
	height: 100px;
	width: 300px;
}
#login tr {
	margin-top: 10px;
}

#login-title {
	margin-top: 40px;
	margin-bottom: 20px;
	text-align:center;
	font-weight: bold;
	font-size: 200%;
}

#login h3 {
	text-align: center;
	font-size: 150%;
	color: white;	
}

#login input[type=submit] {
	border: 1px solid #DDDDDD;
	background-color: #CCCCCC;
	height: 100%;
}