#ui-datepicker-div {font-size: 80%;}
.interestDashboardContainer {
	height: 26px;	
}
.paginator {
    font-size: 110%;
    margin-top: 10px;
    text-align: center;
}

.homeGap {
    clear : both;
    margin: 10px;
}

.placeButton{
	clear : both;
}

.homeGap {
    clear : both;
    margin: 10px;
}


#lastInteractions {
    width: 100%;
    /* padding-top: 15px; */
    float: left;
}

.paginator a {
    color: #505050;
}
.paginator span {
    color: #A0A0A0;
}

#userPicture {
    margin: 15px 0 2px 50px;
    float: left;
}

#loggedUsers {
	width: 210px;
}

#contactsAsked {
    float: left;
    width: 100%;
}

#lastVisits {
    float: left;
    width: 100%;
}

.miniature:hover {
    border: 2px solid #808080;
    margin:1px;
}

.miniature {
    border: 1px solid #AAAAAA;
    float: left;
    height: 40px;
    line-height: 40px;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 40px;
}

.miniature img {
    max-height: 40px;
    max-width: 40px;
    vertical-align: middle;
}

.profileLink {
    font-size: 0.8em;
    float: right;
}

.link {
    text-decoration:underline;
}

.miniatureContainer {
    width: 40px;
}

#eventDescription_container .mceLayout {
    border: 1px solid #505050;
}

#announceContent_container .mceLayout {
    border: 1px solid #505050;
}

#messageDescription_container .mceLayout {
    border: 1px solid #505050;
}

.errorMessage {
    font-size: 120%;
    text-align: center;
    width: 80%;
    color: red;
}

#left li {
    margin-top: 10px;
    font-size: 120%;
}

#body-content {
    float: left;
    width: 75%;
    margin-bottom: 50px;
}



#body-content h3 {
    text-align: left;
    font-size: 130%;
    line-height: 30px;
}


.inLineTable td,th {
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom:5px;
    /*border: 20px solid transparent;
    border-spacing: 20px;*/
}

.inLineTable .tableButton {
    text-align: right;
}

.tableButton{
    text-align: right;
}

#menu {
    float:left;
}

#logout {
    float: right;
    margin: 8px;
    background-color: #606060;
}

#left ul {
    margin-bottom: 20px;
}

.button {
    border: 1px solid gray;
    background-color: #505050;
    color: #DDDDDD;
    padding: 2px 6px 2px 6px;
    font-weight: normal;
    font-style: normal;
    cursor:pointer;
}

.deleteEventForm{
	display: inline;
}

.cursorPointer{
	cursor: pointer;
}

.select{
    color: #505050; 
    padding: 2px 6px 2px 6px;
}

label {
    font-size: 110%;
}

.button:hover {
    color: #DDDDDD;
}

input[type=text], input[type=email], input[type=password], textarea {
    border: 1px solid #808080;
} 
#CreateEvent {width: 80%;}
#CreateEvent label {width:100px; display:block;	float:left;}
#CreateEvent #eventName {width: 100%;}
#CreateEvent #eventDescription { width: 100%;}
#CreateEvent #eventDate {width: 25%; color: black; margin-right: 8px;}
#CreateEvent input[type=submit] {float: right;}

#UpdateEvent input[type=submit] {float: right;}

#CreateAnnounce {width: 80%;}
#CreateAnnounce label {width:100px; display:block;	float:left;}
#CreateAnnounce #announceTitle {width: 100%;}
#CreateAnnounce #announceContent { width: 100%;}
#CreateAnnounce #announceExpiryDate {width: 25%; color: black; margin-right: 8px;}
#CreateAnnounce input[type=submit] {float: right;}

#SearchEvent, #SearchAnnounce {margin-left: 190px;}
#SearchEvent .button, #SearchAnnounce .button {margin-left: 15px;}

#SearchHub {margin-left: 190px;}

#EventList {width: 100%;}
#EventList .header td {width: 20%;}
#EventList .header th {color: #505050; font-size: 120%;background: url(../images/bg-message.png) repeat-x;}
#EventList .content .left {background-color: #e9f5fd; width: 20%;}
#EventList .content .right {padding: 15px;}
#EventList .gap td {border-top: 1px solid #BBB;}
#EventList .gap {height: 15px;}

#DisplayEvent, #DisplayAnnounce {width: 100%}


#MemberList {width: 100%;}
#MemberList td {width: 30%;}


#login {
    background: #505050 url(../images/footer.gif) no-repeat;
    width: 90%;
    height: 170px;
    float:left;
    margin-left: 5%;
    border: 3px solid gray;
    border-radius: 15px;
}

#login label {
    color: white;
    font-weight: bold;
}

#login input[type="email"], #login input[type="password"] {
    height: 20px;
    width: 100%;
    border-color: #DDDDDD;
    background-color: #CCCCCC;
}

#loginWrapper table {
    margin-top: 20px;
    margin-left: 260px;
    height: 100px;
    width: 320px;
}
#loginWrapper tr {
    margin-top: 10px;
}

#login-title {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align:center;
    font-weight: bold;
    font-size: 200%;
}

#login h3 {
    text-align: center;
    font-size: 150%;
    color: #610B0B;
}

#login a {
    color: white;
    text-decoration: underline;
}

#login input[type=submit] {
    border: 1px solid #DDDDDD;
    background-color: #CCCCCC;
    height: 25px;
    padding: 0 15px;
    float: right;
}

#resetPasswordWrapper a {
    margin-top: 10px;
}

#resetPasswordWrapper {
    width: 370px;
    margin: 40px auto;
}
#resetPasswordWrapper input[type="text"] {
    width: 200px;
}

.label {
	float: right;	
}

input[type="text"][class="error"], input[type="email"][class="error"], textarea[class="error"] {
    border: 1px solid #AF1515;
}

.alignRight {
    text-align: right;
}

.alignCenter {
    text-align: center;
}

.authorDate {
    font-style: italic;
    color : #656565;
    background-color: #C7E5F8;
}

.mceTextArea{
    width: 100%;
    height: 300px;
}

.topicTable {
    background-color: #E8F5FD;
    border: 1px solid #8bcef8;
    width: 100%;
    margin-bottom: 5px;
}
.topicHeader {
    background-color: #C7E5F8;
    height: 30px;
    border-collapse: collapse;
}

.topicOwner {
    width: 20%;
    text-align: center;
    vertical-align: top;
}

.topicMessage{
    background-color: #E8F5FD;
    border-left: 1px solid #8bcef8;
    vertical-align: text-top;
    padding: 5px
}

.topicButton{
    float: right;
    margin-bottom: 10px;
}

.lastMessageOwner{
    width: 100%;
    color: #990000;
    background-color: #E8F5FD;
    border: 1px solid #8bcef8;
    border-bottom: none;
    vertical-align: text-top;
    margin-top: 20px;
}

.fieldsetAppli {
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 34px 10px 10px 10px;
    padding: 1px;
	background-color : white;
}

.fieldsetCV {
    width: 80%;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 34px 10px 10px 10px;
    padding: 1px;
	background-color : white;
}

.fieldsetAdmin {
    float: left;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 26px 10px 10px 10px;
    padding: 8px;
    background-color : white;
    width: 100%;
}

.legendAdmin {
    text-align: left;
    background-color: white;
    background: -webkit-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
    border-radius: 5px;
    box-shadow: 1px 2px 9px #000;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    margin: -22px 0px 0px 30px;
}

.fieldsetTableAdmin{
	width: 100%;
    margin-top: 27px;
    background-color : #E8F5FD;
}

.fieldsetProfil {
	float: left;
    width: 80%;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 28px 10px 10px 10px;
    padding: 1px;
	background-color : white;
}

.inLineTable {
    width: 100%;
    border-spacing : 0px 3px;
    /*margin-bottom: 10px;*/
    padding: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    
    box-shadow: 1px 2px 9px #000;
}

.inLinefieldset {
    width: 90%;
    border-spacing : 0px 3px;
    margin-top:15px;
    margin-bottom: 15px;
    margin-left: auto;
	margin-right: auto;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
    border-radius: 15px;
    border: 1px solid gray;
}

.inLineTable tr{
    background-color: #E8F5FD;
    border: 5px solid #F7FCFF;
}


#dashboardMessages {
	float: left;
    width: 100%;
}

#dashboardMessages table {
    width: 100%;
}
#dashboardMessages td {
    vertical-align: middle;
}

.inLineTableDashBoard .messagePhoto {
    width: 30px;
    padding: 2px 5px 0 5px;
}

.fieldsetHome {
    float: left;
    width: 47%;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 28px 0px 10px 10px;
    padding: 1px;
	background-color : white;
}

.fieldsetHome2 {
    float: right;
    width: 47%;
    border: 1px solid #FFF;
    border-radius: 5px ;
    box-shadow: 3px 3px 12px #000;
    margin: 28px 0px 10px 10px;
    padding: 1px;
	background-color : white;
}

.legendHome {
    text-align: left;
    background-color: white;
    background: -webkit-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
    background: -moz-linear-gradient(90deg, #FFFFFF, #FFFFFF) repeat scroll 0 0 transparent;
    border-radius: 5px;
    box-shadow: 1px 2px 9px #000;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    margin: -12px 0px 0px 30px;
}

.fieldsetTable{
    margin-top: 27px;
    padding-top: 2px;
}

.space{
    margin-top: 27px;
}

.errorCV{
	color : #AF1515;
}

.fieldsetTableAdmin li {
  border-bottom: dotted 1px;
}

.inLineTableDashBoardFieldset {
    border-spacing : 0px 3px;
    padding: 5px;
    background: white;
    border-image: initial;
    width: 100%;
}

.inLineTableDashBoardFieldset tr{
    background-color: #E8F5FD;
    border: 5px solid #F7FCFF;
}

.homeFrame caption {
    text-align: left;
    font-size: 120%;
    line-height: 30px;
}

.inLineTableDashBoard {
    border-spacing : 0px 3px;
    /*margin-bottom: 15px;*/
    padding: 5px;
    background: white;
    border-image: initial;
}

.inLineTablePersonalInformation {
    width: 85%;
    border-spacing : 0px 3px;
    /*margin-bottom: 10px;*/
    padding: 5px;
    background: white;
    border-image: initial;
}

.inLineTableDashBoard tr{
    background-color: #E8F5FD;
    border: 5px solid #F7FCFF;
}

.inLineTablePersonalInformation tr{
    background-color: #E8F5FD;
    border: 5px solid #F7FCFF;
}

tr.notReed {
    background-color: #cfecff;
    font-weight: bold;
}

#contactProposals {
    /*float: left;*/
    width: 100%;
}

#contactProposals table {
    width: 100%;
}
#contactProposals td {
    vertical-align: middle;
}

#interestProposals {
    float: right;
    width: 100%;
}

#InboxTitle {
    text-align: center;
}

/* TODO Find a way to place more menu items- should be 1010px */
.wrap {
    width: 1100px; 
}

.ajaxSearch{
    display: none;
    width: 44%;
    position: absolute;
    z-index: 3;
    background-color: white;
    border : 1px solid gray;
}

.ajaxSearch .selected{
    background-color: #E8F5FD;
}

/* Tags */

.tag {
	float: left;
	vertical-align: middle;
	border: #c1ffbb 2px dashed;
	background-color: #e9ffe7;
    margin: 0 5px 10px 0;
    padding: 5px;
}

.tag a {
    color: green;
    text-decoration: underline;
}
.tag img{
    vertical-align: middle;
}

.tagSE {
    padding : 2px;
    float : left;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    border: #FBDFE6 2px dashed;
    background-color: #FEF2F5;

}

.tagSE a {
    color: black;
}
.tagSE img{
    vertical-align: middle;
}

.tagInteraction {
    padding : 2px;
    float : left;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    border: #F0CBD5 2px dashed;
    background-color: #E9DDE0;

}

.tagInteraction a {
    color: black;
}
.tagInteraction img{
    vertical-align: middle;
}

.otag {
    padding : 2px;
    float : left;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
    border: #7fcaff 2px dashed;
    background-color: #c6e8ff;
}


.otag a {
    color: #4793c9;
    text-decoration: underline;
}

.otag img{
    margin-left: 2px;
}

/* interaction display */
.interactionInfo{
    width: 27%;
    text-align: left;
    float: right;
    background-color: #ecf8ff;
    border: 2px solid #bcd3e0;
    padding: 3px;
}

.interactionDisplay {
    float: left;
    width: 68%;
    background-color: #ecf8ff;
    padding: 3px;
    margin-right: 10px;
}

.interactionDisplay table {
	width:100%;
}

.interactionDisplay img {
    max-width: 100%;
}

#logo2 {
    text-align: center;
}

.largeInteractionInfo{
    width: 100%;
    float: left;
    text-align: left;
    background-color: #ecf8ff;
    border: 2px solid #bcd3e0;
    padding: 3px;
}

#mapCanvas {
	height: 250px;
	width:  100%;
}

#geolocalisation {
	width: 212px;
    text-align: left;
    float: right;
    padding: 3px;
    visibility: hidden;
}

#errorGeo{
	visibility: hidden;	
}	



#menuLogin {
	padding: 0 0 8px;
	margin: 0 0 25px;
	height: 20px;
}

#menuLogin li {
	display: inline;
	padding: 0 5px 0 5px;
}

#menuLogin li a {
	float: right;
	min-width: 86px;
	text-align: center;
	margin: -4px;
	padding: 10px;
}


.quotation {
	float: left;
	margin-left: 30px;
	font-size: 120%;
	font-style: italic;
	text-indent: 40px;
	float: left;
}

thead, thead th {
	background-color : #DCF0FE;	
}

#buttonConsultation { float:right;margin-right:25px;margin-top:5px; margin-bottom:10px;}

.plusMoins{margin-left:10px;}

.plus{background: url("../images/addConsultation.png") no-repeat left top;width:25px;height:25px;border: none;}
.moins{background: url("../images/removeConsultation.png") no-repeat left top;width:25px;height:25px;border: none;}

input[type=submit] {cursor:pointer;}

.thMessage{
	padding-left: 0;
}