* {
padding: 0;
margin: 0;
}

html{
	min-height:100%;
	
}


#wrapBody{
	width: 90%;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom:35px;
	padding-top:100px;
}

#wrapHeader{
	background-color:#505050;
	width:100%;
	position:fixed;
	height:51px;
	border-bottom:1px solid white;	
	z-index: 5;
	overflow-x: auto;
	overflow-y: hidden;
}
#header{
	width:1100px;
	height:51px;
	margin: 0 auto;
}
#placeHeader{
	height:50px;
}


#wrapFooterStyle{
	clear: both; 
	border-top: 3px solid #6E6E6E; 
	background: #505050;/* url(../images/footer.gif) no-repeat right top; */
	color: #ccc;
	padding: 20px 0 0 0;
	height:63px;
	border-bottom:1px solid #505050;
	
}
#placeFooterStyle{
	height:63px;
}
#footerStyle{
	width:1100px;
	margin: 0 auto;
}



#leftMenu{
	float:left;
	width: 22%;
}
#left{
	margin-top: 30px; 
	width: 100%;
	
}
