.project
.settings
.classpath
target

admin/.classpath
admin/.project
admin/.settings
admin/target

assembler/.classpath
assembler/.project
assembler/.settings
assembler/target

commons/.classpath
commons/.project
commons/.settings
commons/target

entities/.classpath
entities/.project
entities/.settings
entities/target

facade/.classpath
facade/.project
facade/.settings
facade/target

fsnetAndroid/.classpath
fsnetAndroid/.project
fsnetAndroid/.settings
fsnetAndroid/target


fsnetWeb/.classpath
fsnetWeb/.project
fsnetWeb/.settings
fsnetWeb/target

maven-reports

mobile-services/.classpath
mobile-services/.project
mobile-services/.settings
mobile-services/target

mobile-services-client/.classpath
mobile-services-client/.project
mobile-services-client/.settings
mobile-services-client/target

mobile-services-model/.classpath
mobile-services-model/.project
mobile-services-model/.settings
mobile-services-model/target

mockDB/.classpath
mockDB/.project
mockDB/.settings
mockDB/target

trayDesktop/.classpath
trayDesktop/.project
trayDesktop/.settings
trayDesktop/target

webservice/.classpath
webservice/.project
webservice/.settings
webservice/target


maven-reports
