<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fr.univartois.ili.fsnet.fsnetWeb</display-name>
  <welcome-file-list>
    <welcome-file>Authenticate</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml,
                /WEB-INF/struts-configs/announces-config.xml,
                /WEB-INF/struts-configs/contacts-config.xml,
                /WEB-INF/struts-configs/events-config.xml,
                /WEB-INF/struts-configs/hubs-config.xml,
                /WEB-INF/struts-configs/interests-config.xml,
                /WEB-INF/struts-configs/profile-config.xml,
                /WEB-INF/struts-configs/topics-config.xml,
                /WEB-INF/struts-configs/members-config.xml,
                /WEB-INF/struts-configs/createCV-config.xml,
                /WEB-INF/struts-configs/membersAdmin-config.xml,
                /WEB-INF/struts-configs/privatemessages-config.xml,
                /WEB-INF/struts-configs/communities-config.xml,
                /WEB-INF/struts-configs/interactions-config.xml,
                /WEB-INF/struts-configs/ajax-config.xml,
                /WEB-INF/struts-configs/consultations-config.xml,
                /WEB-INF/struts-configs/groups-config.xml,
                /WEB-INF/struts-configs/visits-config.xml,
                /WEB-INF/struts-configs/support-config.xml,
                /WEB-INF/struts-configs/talk-config.xml
            </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>IsAuthenticatedFilter</filter-name>
    <filter-class>fr.univartois.ili.fsnet.auth.IsAuthenticatedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsAuthenticatedFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>encoding</filter-name>
    <filter-class>fr.univartois.ili.fsnet.core.SetCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>ignore</param-name>
      <param-value>false</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encoding</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.auth.ResetPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Initializer</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.core.InitializerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Authenticate</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.auth.Authenticate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authenticate</servlet-name>
    <url-pattern>/Authenticate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.auth.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>fr.univartois.ili.fsnet.core.LogoutListener</listener-class>
  </listener>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>ds/fsnetDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <display-name>PhotoFetcher</display-name>
    <servlet-name>PhotoFetcher</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.core.PhotoFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoFetcher</servlet-name>
    <url-pattern>/avatar/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MiniatureFetcher</display-name>
    <servlet-name>MiniatureFetcher</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.core.MiniatureFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MiniatureFetcher</servlet-name>
    <url-pattern>/miniature/*</url-pattern>
  </servlet-mapping>
  <servlet>
  <display-name>LogoFetcher</display-name>
  <servlet-name>LogoFetcher</servlet-name>
  <servlet-class>fr.univartois.ili.fsnet.core.LogoFetcher</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LogoFetcher</servlet-name>
  <url-pattern>/groups/*</url-pattern>
  </servlet-mapping>
   <error-page> 
  	<error-code>404</error-code>
  	<location>/WEB-INF/jsp/error-404.jsp</location>
  </error-page>
</web-app>