<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fr.univartois.ili.fsnet.maquette</display-name>
  <context-param>
    <param-name>member</param-name>
    <param-value>toto</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoTopic</display-name>
    <servlet-name>GotoTopic</servlet-name>
    <servlet-class> fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoTopic </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoTopic</servlet-name>
    <url-pattern>/GotoTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoMessage</display-name>
    <servlet-name>GotoMessage</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoMessage</servlet-name>
    <url-pattern>/GotoMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHub</display-name>
    <servlet-name>CreateHub</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.CreateHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHub</servlet-name>
    <url-pattern>/CreateHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTopic</display-name>
    <servlet-name>CreateTopic</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.CreateTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTopic</servlet-name>
    <url-pattern>/CreateTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMessage</display-name>
    <servlet-name>CreateMessage</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.CreateMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMessage</servlet-name>
    <url-pattern>/CreateMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAnnonce</display-name>
    <servlet-name>AddAnnonce</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.AddAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnnonce</servlet-name>
    <url-pattern>/AddAnnonce</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://iliforum.ili.fsnet.com/</taglib-uri>
      <taglib-location>/WEB-INF/iliforumtags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>CompleteProfil</display-name>
    <servlet-name>CompleteProfil</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.CompleteProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteProfil</servlet-name>
    <url-pattern>/CompleteProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvenement</display-name>
    <servlet-name>AddEvenement</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.AddEvenement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvenement</servlet-name>
    <url-pattern>/AddEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>