<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>fr.univartois.ili.fsnet.maquette</display-name>
  <context-param>
    <param-name>member</param-name>
    <param-value>toto</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginUser</display-name>
    <servlet-name>LoginUser</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.LoginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUser</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoTopic</display-name>
    <servlet-name>GotoTopic</servlet-name>
    <servlet-class> fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoTopic </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoTopic</servlet-name>
    <url-pattern>/GotoTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoMessage</display-name>
    <servlet-name>GotoMessage</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoMessage</servlet-name>
    <url-pattern>/GotoMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateHub</display-name>
    <servlet-name>CreateHub</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.CreateHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateHub</servlet-name>
    <url-pattern>/CreateHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTopic</display-name>
    <servlet-name>CreateTopic</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.CreateTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTopic</servlet-name>
    <url-pattern>/CreateTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateMessage</display-name>
    <servlet-name>CreateMessage</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.CreateMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateMessage</servlet-name>
    <url-pattern>/CreateMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAnnonce</display-name>
    <servlet-name>AddAnnonce</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.AddAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnnonce</servlet-name>
    <url-pattern>/AddAnnonce</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <taglib>
      <taglib-uri>http://iliforum.ili.fsnet.com/</taglib-uri>
      <taglib-location>/WEB-INF/iliforumtags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>CompleteProfil</display-name>
    <servlet-name>CompleteProfil</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.CompleteProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompleteProfil</servlet-name>
    <url-pattern>/CompleteProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEvenement</display-name>
    <servlet-name>AddEvenement</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.AddEvenement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEvenement</servlet-name>
    <url-pattern>/AddEvenement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUser</display-name>
    <servlet-name>LogoutUser</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.LogoutUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUser</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>IsLoggedFilter</display-name>
    <filter-name>IsLoggedFilter</filter-name>
    <filter-class>fr.univartois.ili.fsnet.filters.IsLoggedFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IsLoggedFilter</filter-name>
    <url-pattern>/IsLoggedFilter</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>IsLoggedFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>InitFSNet</display-name>
    <servlet-name>InitFSNet</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.InitFSNet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitFSNet</servlet-name>
    <url-pattern>/InitFSNet</url-pattern>
  </servlet-mapping>
  <filter>
		<filter-name>Character Encoding</filter-name>
		<filter-class>fr.univartois.ili.fsnet.filters.CharsetFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>Character Encoding</filter-name>
		<servlet-name>AddAnnonce</servlet-name>	
		<servlet-name>AddEvenement</servlet-name>
		<servlet-name>CompleteProfil</servlet-name>
		<servlet-name>LoginUser</servlet-name>
		<servlet-name>CreateHub</servlet-name>
		<servlet-name>CreateTopic</servlet-name>
		<servlet-name>CreateMessage</servlet-name>
		<servlet-name>ModifHub</servlet-name>
		<servlet-name>ModifTopic</servlet-name>
		<servlet-name>ModifMessage</servlet-name>
	</filter-mapping>
  <servlet>
    <description></description>
    <display-name>SupprTopic</display-name>
    <servlet-name>SupprTopic</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.SupprTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprTopic</servlet-name>
    <url-pattern>/SupprTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprHub</display-name>
    <servlet-name>SupprHub</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.SupprHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprHub</servlet-name>
    <url-pattern>/SupprHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprMess</display-name>
    <servlet-name>SupprMess</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.SupprMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprMess</servlet-name>
    <url-pattern>/SupprMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoModifMessage</display-name>
    <servlet-name>GotoModifMessage</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoModifMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoModifMessage</servlet-name>
    <url-pattern>/GotoModifMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifMessage</display-name>
    <servlet-name>ModifMessage</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.ModifMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifMessage</servlet-name>
    <url-pattern>/ModifMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoModifTopic</display-name>
    <servlet-name>GotoModifTopic</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoModifTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoModifTopic</servlet-name>
    <url-pattern>/GotoModifTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifTopic</display-name>
    <servlet-name>ModifTopic</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.ModifTopic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifTopic</servlet-name>
    <url-pattern>/ModifTopic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GotoModifHub</display-name>
    <servlet-name>GotoModifHub</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.GotoModifHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GotoModifHub</servlet-name>
    <url-pattern>/GotoModifHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifHub</display-name>
    <servlet-name>ModifHub</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.facade.iliforum.servlet.ModifHub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifHub</servlet-name>
    <url-pattern>/ModifHub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprAnnonce</display-name>
    <servlet-name>SupprAnnonce</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.servlets.SupprAnnonce</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprAnnonce</servlet-name>
    <url-pattern>/SupprAnnonce</url-pattern>
  </servlet-mapping>
</web-app>