<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>fr.univartois.ili.fsnet.admin.maquette</display-name>
	<welcome-file-list>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>SendMessage</display-name>
		<servlet-name>SendMessage</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.admin.servlets.SendMessage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendMessage</servlet-name>
		<url-pattern>/SendMessage</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddUser</display-name>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.admin.servlets.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddInterest</display-name>
		<servlet-name>AddInterest</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.admin.servlets.AddInterest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddInterest</servlet-name>
		<url-pattern>/AddInterest</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri>http://admin.ili.fsnet.com/</taglib-uri>
			<taglib-location>/WEB-INF/tlds/adminbalises.tld</taglib-location>
		</taglib>
	</jsp-config>
	<servlet>
		<description></description>
		<display-name>RemoveUser</display-name>
		<servlet-name>RemoveUser</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.admin.servlets.RemoveUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUser</servlet-name>
		<url-pattern>/RemoveUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveInterest</display-name>
		<servlet-name>RemoveInterest</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.admin.servlets.RemoveInterest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveInterest</servlet-name>
		<url-pattern>/RemoveInterest</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>RecupInfo</display-name>
		<servlet-name>RecupInfo</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.admin.servlets.RecupInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RecupInfo</servlet-name>
		<url-pattern>/RecupInfo</url-pattern>
	</servlet-mapping>
	<servlet>
    <description></description>
    <display-name>SearchMember</display-name>
    <servlet-name>SearchMember</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.admin.servlets.SearchMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMember</servlet-name>
    <url-pattern>/SearchMember</url-pattern>
  </servlet-mapping>
	<servlet>
    <description></description>
    <display-name>SearchInterest</display-name>
    <servlet-name>SearchInterest</servlet-name>
    <servlet-class>fr.univartois.ili.fsnet.admin.servlets.SearchInterest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchInterest</servlet-name>
    <url-pattern>/SearchInterest</url-pattern>
  </servlet-mapping>

	<filter>
		<filter-name>Character Encoding</filter-name>
		<filter-class>fr.univartois.ili.fsnet.admin.filters.CharsetFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>Character Encoding</filter-name>
		<servlet-name>AddUser</servlet-name>
		<servlet-name>AddInterest</servlet-name>
		<servlet-name>RecupInfo</servlet-name>
		<servlet-name>SearchMember</servlet-name>
		<servlet-name>SearchInterest</servlet-name>
	</filter-mapping>
	<security-role>
		<role-name>fsnetadmin</role-name>
	</security-role>
	<security-constraint>
		<display-name>whole access</display-name>
		<web-resource-collection>
			<web-resource-name>all content</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>fsnetadmin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
</web-app>