<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

<servlet>
		<servlet-name>CleanEntity</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.fakeDB.actions.CleanEntity</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CleanEntity</servlet-name>
		<url-pattern>/CleanEntity</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>DisplayEntities</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.fakeDB.actions.DisplayEntities</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayEntities</servlet-name>
		<url-pattern>/DisplayEntities</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>PopulateDB</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.fakeDB.actions.PopulateDB</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PopulateDB</servlet-name>
		<url-pattern>/PopulateDB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteDB</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.fakeDB.actions.DeleteDB</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteDB</servlet-name>
		<url-pattern>/DeleteDB</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ResetDB</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.fakeDB.actions.ResetDB</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ResetDB</servlet-name>
		<url-pattern>/ResetDB</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DeleteCommunities</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.fakeDB.actions.DeleteCommunities</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeleteCommunities</servlet-name>
		<url-pattern>/DeleteCommunities</url-pattern>
	</servlet-mapping>

	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>ds/fsnetDS</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>


</web-app>
 