<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>fr.univartois.ili.fsnet.fsnetWeb</display-name>
    <welcome-file-list>
        <welcome-file>Authenticate</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml,
                /WEB-INF/struts-configs/announces-config.xml,
                /WEB-INF/struts-configs/contacts-config.xml,
                /WEB-INF/struts-configs/events-config.xml,
                /WEB-INF/struts-configs/hubs-config.xml,
                /WEB-INF/struts-configs/interests-config.xml,
                /WEB-INF/struts-configs/profile-config.xml,
                /WEB-INF/struts-configs/topics-config.xml
            </param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
	<filter>
		<filter-name>IsAuthenticatedFilter</filter-name>
		<filter-class>fr.univartois.ili.fsnet.auth.IsAuthenticatedFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>IsAuthenticatedFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>Authenticate</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.auth.Authenticate</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Authenticate</servlet-name>
		<url-pattern>/Authenticate</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>fr.univartois.ili.fsnet.auth.Logout</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>

</web-app>
