#globalActions a:hover {
	padding: 10px;
	border: 4px inset red;
}

#globalActions a {
	margin: 10px;
	float: left;
	color: red;
	background-color: yellow;
	padding: 10px;
	border: 4px outset red;
}

.actionButton {
	border: 1px solid black;
	margin: 4px;
	padding: 4px;
	background-color: #D0D0D0;
	text-decoration: none;
} 

.clear {
	clear:both;
}

.attributeType {
	font-size: 105%;
	color: green;
}

.attributeName {
	color: blue;
}

.entityName {
	font-weight: bold;
}

.entityHeader {
	width: 95%;
	text-align: center;
	margin: 10px;
}

.entity {
	float: left;
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}