#left li {
	margin-top: 10px;
	font-size: 120%;
}

#body-content {
	float: left;	
}

#menu {
	float:left;
	width: 60%;	
}

#logout {
	float: right;	
	margin: 10px;
}

#logout a {
	background-color: #EEEEEE;
	color: #505050; 
}

#left ul {
	margin-bottom: 20px;
}

.button {
	border: 1px solid grey;
	background-color: #505050;
	color: #DDDDDD;
	padding: 2px 6px 2px 6px;
}

label {
	font-size: 110%;	
}

.button:hover {
	color: #DDDDDD;
}

input[type=text], textarea {
	border: 1px solid #808080;	
} 
#CreateEvent {margin-left: 50px;}
#CreateEvent label {width:100px; display:block;	float:left;}
#CreateEvent #eventName {width: 100%;}
#CreateEvent #eventDescription { width: 100%;}
#CreateEvent #eventDate {width: 30%;}
#CreateEvent input[type=submit] {float: right;}


#login {
	background: #505050 url(../images/footer.gif) no-repeat;
	width: 60%;
	height: 200px;
	margin: 200px auto 0 auto;
}

#login-logo {
	position: absolute;
	top: 50px;
	left: 15%;
}